<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework/> Version=v4.5" />
    </startup>
    <appSettings>
        <add key="temp_directory"    value= "\\localhost\c$\temp\"/>
        <add key="target_directory"  value= "\\localhost\c$\result\"/>
        <add key="name_of_run"       value= "Regnskabskoersel"/>
        <add key="chunks"            value="90"/>
        <add key="page_size"         value="2000"/>
        <add key="base_uri"          value="http://distribution.virk.dk" />
        <add key="start_date"        value="03-06-2015" />
        <add key="end_date"          value="20-06-2015" />
        <add key="use_yesterday"     value="false"/>
        <add key="use_max"           value="true"/>
        <add key="use_index_date"    value="false"/>
        <add key="max"               value="50000"/>
    </appSettings>
</configuration>  
