<?xml version="1.0" encoding="utf-8" ?>  
<configuration>  
    <startup>   
        <supportedRuntime version="v4.0" sku=".NETFramework/> Version=v4.5" />  
    </startup>  
  <appSettings>  
     <add key="temp_directory"    value=    "./"/> 
     <add key="target_directory"  value=   "./"/> 
     <add key="name_of_run"       value= "Regnskabskoersel"/> 
     <add key="threads"           value=   "4"/> 
     <add key="chunks"            value="10"/> 
     <add key="page_size"         value="100"/>             
     <add key="base_uri"          value="http://distribution.virk.dk" /> 
     <add key="start_dato"        value="01-09-2018" /> 
     <add key="slut_dato"         value="03-09-2018" /> 
     <add key="use_yesterday"     value="true"/>
     </appSettings>  
</configuration>  
